/* rgb(0, 141, 68) */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: calibri;
}

body {
    min-height: 100vh;
    overflow: hidden;
}
.container {
    /* position: relative; */
    width: 100%;
    display: flex;
}
.navigation {
    position: fixed;
    width: 250px;
    height: 100%;
    background: rgb(0, 141, 68);
    border-left: 12px solid darkgreen;
    transition: 0.5s;
    overflow: hidden;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin: 10px 0px 20px ;
}
.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.prof {
    display: flex;
    align-items: center;
    gap: 2vw;
}
.prof p {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}
.navigation ul {
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li div {
    position: relative;
    display: flex;
    /* justify-content: center; */
    gap: 3.5vw;
    align-items: center;
    color: white;
}

.navigation ul li div:hover {
    color: rgb(0, 141, 68);
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.fa-solid {
    position: relative;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.75rem;
}

/* ---------------------------------------------------- */

.right{
    position: relative;
    top: 20px;
    left: 260px;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.card-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
    
}
.card-container  .card {
    background-color: rgba(207, 217, 210, 0.6);
    width: 200px;
    height: 100%;
    box-shadow: 0 7px 25px rgba(0, 0 ,0, 0.8);
    border-radius: 20px;
    cursor: pointer;
}
.card-container  .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-box {
    color: rgb(0, 141, 68);;
}
/* ---------------------------------------- */

#add_user, #add_product {
    background-color: rgb(0, 141, 68);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
}

#add_user:hover,#add_product:hover {
    background-color: #007F3D;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(0, 141, 68);
    color: white;
}

/* Style the first column (User_id) */
td:first-child {
    font-weight: bold;
}

/* Style the Update_User and Delete_User columns */
td:nth-last-child(2),
td:last-child {
    text-align: center;
    cursor: pointer;
}

/* Change cursor to a pointer when hovering over icons */
.fa-pen, .fa-trash {
    cursor: pointer;
}
/* ------------------------------*/

#customer , #product{
    display: none;
}